---
# Extra Review Questions (if needed)


### Get through as many of the questions below.

__Start!__
___

> __Q1) Using the lists defined below (`list1` and `list2`), add one list to the other.__
>
> Expected Output:
>
> `[1, 2, 3, 4]`

In [1]:
list1 = [1, 2]
list2 = [3, 4]

In [2]:
# Solution A
print(list1 + list2)

[1, 2, 3, 4]

In [3]:
# Solution B
list1 = [1, 2]
list1.extend(list2)
print(list1)

[1, 2, 3, 4]

---

> __Q2)__ If we list all the natural numbers below 10 that are multiples of 3 or 5, we get: 3, 5, 6 and 9.
>
> The sum of these multiples is 23.
>
> __Find the sum of all the multiples of 3 or 5 below 1000.__

In [4]:
multiples_list = []

In [5]:
# Suggested Solution

for num in range(1,10):
    if num % 3 == 0 or num % 5 == 0:
        multiples_list.append(num)

print(multiples_list)
print(sum(multiples_list))

#Answer: 233168

[3, 5, 6, 9]
23

---
> __Q3)__ I have a list of genders from a database:

In [6]:
genders = ['Male', 'Female', 'Female', 'Male', 'Female', 'Male', 'Male', 'Male', 'Female', 'Female', 'Male', 'Female', 'Female', 'Female']

> In order to use this list in a machine learning algorithm, we need `genders` to be converted to 1's and 0's.
>
> __First, write a for loop that appends a new list called `females` with a 1 if the gender is female and 0 otherwise.__

> Expected Output:
>
> `[0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1]`

In [7]:
females = []

In [8]:
# Suggested Solution

females = []
for gender in genders:
    if gender == 'Male':
        females.append(0)    # 0 - male
    elif gender == 'Female':
        females.append(1)    # 1 - female
    else:
        females.append(2)    # 2 - neither male nor female

females

[0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1]

---
> __Q4) Using a for loop, filter the following array of numbers into a new list containing only the even numbers.__

> **Hint:** If i is even, i % 2 == 0. Otherwise, i % 2 == 1. (% is the modulus operator. It returns the remainder.)

> Expected Output:
>
> `[2, 4, 6, 8, 10]`

In [9]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even_numbers = []

In [10]:
# Suggested Solution

for num in numbers:
    if num % 2 == 0:
        even_numbers.append(num)
        
print(even_numbers)

[2, 4, 6, 8, 10]

---
> **Q5) Sort the list of numbers below from greatest to least**

In [11]:
numbers = [10, 2, -1, 0, 3, 5]

In [12]:
# Suggested Solution

numbers.sort(reverse=True)
print(numbers)

[10, 5, 3, 2, 0, -1]

---
### CHALLENGE QUESTIONS

> __Q6A) Create a list called `dwarves_list` that splits `dwarves_string` on the spaces.__
>
> *Hint: Use the method `.split()`*

> Expected Output:
>
> `['Bashful,', 'Doc,', 'Dopey,', 'Happy,', 'Sleepy,', 'Sneezy', 'and', 'Grumpy']`

In [80]:
dwarves_string = "Bashful, Doc, Dopey, Happy, Sleepy, Sneezy and Grumpy"

In [82]:
dwarves_list = # this is where you create a list from dwarves_string

In [83]:
# Suggested Solution

dwarves_list = dwarves_string.split()
dwarves_list

['Bashful,', 'Doc,', 'Dopey,', 'Happy,', 'Sleepy,', 'Sneezy', 'and', 'Grumpy']

> **Q6B) Now use a for loop to remove the commas.**

> *Hint: use method `.replace()` on string*

> *NOTE: You'll still see commas in your output between each element in the list. Just make sure they aren't in the strings.*

> Expected Output:

> `['Bashful', 'Doc', 'Dopey', 'Happy', 'Sleepy', 'Sneezy', 'and', 'Grumpy']`

In [84]:
# Suggested Solution

for position in range(len(dwarves_list)):
    name_with_comma = dwarves_list[position]
    dwarves_list[position] = name_with_comma.replace(',', '')
    
dwarves_list

['Bashful', 'Doc', 'Dopey', 'Happy', 'Sleepy', 'Sneezy', 'and', 'Grumpy']

> **Q6C) Finally, remove the word 'and' from your list.**

> Expected Output:

> `['Bashful,', 'Doc,', 'Dopey,', 'Happy,', 'Sleepy,', 'Sneezy', 'Grumpy']`

In [87]:
# Suggested Solution

dwarves_list.remove('and')
dwarves_list

['Bashful', 'Doc', 'Dopey', 'Happy', 'Sleepy', 'Sneezy', 'Grumpy']

# -- End Extra Review -- 
---

# Deeper Dive: Dictionaries and Functions

In this section, you will learn how to:
- **use Python’s dictionaries**, which allow you to connect pieces of related information. 
- **access and modify** the information in a dictionary. 
- **loop through** the data in **a dictionary**. 
- **nest dictionaries** inside lists, lists inside dictionaries, and even dictionaries inside other dictionaries.
***

---

**Below is a phone directory, which is a great example of a dictionary.**

*[Why is that?]*

In [3]:
#-----------------------------#
# Luna          | 444 - 4444
# Tee           | 123 - 4567
# Ada Lovelace  | 101 - 0101
#-----------------------------#

**Using what we have learned so far, how would we build a program that takes a name and provides me with the person’s number if they are in our contacts?**

In [128]:
# One possible solution: 

person_to_find = input("Whose number do you need? ")

if person_to_find.title() == 'Luna':
    print('444 - 4444')
elif person_to_find.title() == 'Tee':
    print('123 - 4567')
elif person_to_find.title() == 'Ada Lovelace':
    print('101 - 0101')
else:
    print("You are not friends with that person. Sorry.")

Whose number do you need? Tee
123 - 4567

#### TAKEAWAY: When an if-elif-else chain isn’t the best approach...

What is the biggest issue with using an `if-elif-else` chain to keep track of information as we did in the phonebook solution above?

The biggest issue is the fact that the solution is hard-coding information into the program, rather than storing and accessing information in a collection.

##### Enter: Dictionaries

- A dictionary is a collection of key-value pairs.
- A key-value pair is a set of values associated with each other.
- A dictionary is accessed by key (not position)
- A key is unique and *must* be immutable.

Below is our phone directory in a python dictionary object:

In [5]:
phone_book = {
    'Luna': '444 - 4444',
    'Tee': '123 - 4567',
    'Ada Lovelace': '101 - 0101',
    }

> _SYNTAX:_

> `dictionary_name = { ‘key1’: ‘value1’, ‘key2’: ’value2’ }`

- Dictionaries are indicated by the curly braces `{ }`
- Key-value pairs are separated by commas
- Keys precede their values and go before the colon `:` Values go after the colon

---

__To get the value associated with a key:__ 
- give the name of the dictionary
- and then place the key inside a set of square brackets

as shown below:

In [6]:
print(phone_book['Luna'])

444 - 4444

##### And you can assign values found in the dictionary to variables by referencing their keys.

In [7]:
person_to_find = (input("Whose number do you need? "))   ## .title()
number = phone_book[person_to_find]

print(person_to_find + ": " + number)

Whose number do you need? Tee
Tee: 123 - 4567

**Is the key case-sensitive?**

---
# GUIDED WALKTHROUGH: Dictionaries

---
## Working with Dictionaries

### Accessing items in a Dictionary
- reference key for value
- .keys()
- .values()

In [88]:
# Let's continue with our phonebook example.

phone_book = {
    'Luna': '444 - 4444',
    'Tee': '123 - 4567',
    'Ada Lovelace': '101 - 0101',
    }

---

**To access the information in a dictionary object, you can reference a key for its value using the syntax shown below.**

> SYNTAX:

> `dictionary_name['key'] ==> 'value'`

In [89]:
phone_book['Ada Lovelace']

'101 - 0101'

But what if you don't know what keys exist in the dictionary?

---
**To check what keys are in the dictionary, use .keys() method:**

(method creates an iterable view object)

In [90]:
print(phone_book.keys())
print(type(phone_book.keys()))

dict_keys(['Luna', 'Tee', 'Ada Lovelace'])
<class 'dict_keys'>

> We can loop through this iterable view object:

In [91]:
for k in phone_book.keys():
    print(k)

Luna
Tee
Ada Lovelace

> But if we want to use it as a list object, we need to convert it.

In [92]:
list_version = list(phone_book.keys())

print(list_version)
print(type(list_version))

['Luna', 'Tee', 'Ada Lovelace']
<class 'list'>

> __Default behavior__ without specifying method is equivalent to using __`.keys()`__:

In [93]:
for k in phone_book:
    print(k)

Luna
Tee
Ada Lovelace

---
__To check what values are in the dictionary, use .values() method:__

(method creates an iterable view object)

In [94]:
print(phone_book.values())

dict_values(['444 - 4444', '123 - 4567', '101 - 0101'])

---

__You can use set for a unique list of values:__

In [95]:
favorite_languages = {
    'jim': 'python',
    'sarah': 'javascript',
    'edward': 'SQL',
    'phil': 'python',
    }

for language in set(favorite_languages.values()):
    print(language.title())
    
    # Add an if statement to your for loop to uppercase all letters for SQL

Javascript
Python
Sql

> Add an if statement to the for loop to uppercase all letters for SQL

In [344]:
# Suggested Solution

for language in set(favorite_languages.values()):
    if language == 'SQL':
        print(language)
    else:
        print(language.title())

Javascript
Python
SQL

---
__To check what items are in the dictionary, use .items() method.__

(method creates an iterable view object)

In [99]:
print(phone_book.items())

dict_items([('Luna', '444 - 4444'), ('Tee', '123 - 4567'), ('Ada Lovelace', '101 - 0101')])

> The method creates tuple pairs (key, value)
> - one for each entry in the dictionary

---
## Creating dictionaries


### Starting with an empty dictionary

In [100]:
dict_1 = {}

In [101]:
dict_1['add key'] = 'add value'
print(dict_1)

{'add key': 'add value'}

> Add a few more key-value pairs to the dictionary called `dict_1`. Or create your own dictionary!

---
## Updating a Dictionary


### Adding New Key-Value Pairs

Dictionaries are ___dynamic___ structures, which means you can add new key-value pairs to a dictionary at any time.

To add a new key-value pair, you would give the name of the dictionary followed by the new key in square brackets along with the new value. It's the same as adding new key-value pairs to a dictionary.

---

**Let's add contacts to our phone_book:**

In [119]:
phone_book = {
    'Luna': '444 - 4444',
    'Tee': '123 - 4567',
    'Ada Lovelace': '101 - 0101',
    }

In [120]:
phone_book['A. Pearson'] = '232 - 2323'
phone_book['Another Contact'] = '454 - 4545'

phone_book

{'A. Pearson': '232 - 2323',
 'Ada Lovelace': '101 - 0101',
 'Another Contact': '454 - 4545',
 'Luna': '444 - 4444',
 'Tee': '123 - 4567'}

> You can't have the same key twice. Consider the dictionary below:

In [138]:
dict_2 = {'key1': 'value', 1:'One', 2:'Two', 'Three':[1,2,3], 'key1':4}

> What happens when we try to access 'key1' in dict_2?

> Anything missing?

In [139]:
dict_2['key1']

4

In [140]:
dict_2

{'key1': 4, 1: 'One', 2: 'Two', 'Three': [1, 2, 3]}

> **Other notes:**

> - You can use an integer for a key.

> - You can have a list of items assigned to a key in a dictionary.

> - Printing a key that doesn't exist gives an error.

---
### Modifying Values in a Dictionary

__Assign new value to key__

To modify a value in a dictionary, you can use the same syntax you used to add new entries to a dictionary: 
- give the name of the dictionary with the key in square brackets
- then assign the new value you want associated with that key

In [121]:
phone_book.items()

phone_book['A. Pearson'] = '333 - 3333'
print(phone_book['A. Pearson'])

333 - 3333

In [122]:
phone_book

{'A. Pearson': '333 - 3333',
 'Ada Lovelace': '101 - 0101',
 'Another Contact': '454 - 4545',
 'Luna': '444 - 4444',
 'Tee': '123 - 4567'}

### Removing Items from a Dictionary
- del
- .clear()
- .popitem()
- .pop()

---

__You can use the `del` statement to permanently and completely remove a key-value pair__ 

(and leave the rest of the dictionary unaffected).

In [123]:
del phone_book['A. Pearson']

print(phone_book.keys())

dict_keys(['Luna', 'Tee', 'Ada Lovelace', 'Another Contact'])

---
__You can use the `.clear()` method to remove all items from a dictionary__

In [124]:
another_phonebook = {
    'P1': '1emailAddress@gmail.com',
    'P2': 'emailAddress2@gmail.com',
    'P3': 'P3emailAddress@gmail.com',
    }

another_phonebook

{'P1': '1emailAddress@gmail.com',
 'P2': 'emailAddress2@gmail.com',
 'P3': 'P3emailAddress@gmail.com'}

In [125]:
another_phonebook.clear()
print(another_phonebook)

{}

---
__You can specify the item you want to pop out using `.pop()` method.__ 

- The method returns the value associated with the key that is specified, or a key error or default if key is non-existent.

In [126]:
pop_2 = phone_book.pop('Tee')

print(phone_book)
print('\n')
print(pop_2)

{'Luna': '444 - 4444', 'Ada Lovelace': '101 - 0101', 'Another Contact': '454 - 4545'}


123 - 4567

In [127]:
# What's happening here?

pop_2 = phone_book.pop('Friend One', "Nope")

print(pop_2)

Nope

---

# Independent Practice: Dictionaries

10 - 15 min.

**Using what we have learned so far, how would we build a program that takes a name and provides me with the person’s number if they are in our contacts?**

---

Make a phone book program that:
- takes a name and finds number.
- if the name is not in the phone book, prints `"Not a contact. Would you like to add that name: Yes or No?"`
- if yes, ask for the number and add number to phonebook then print: `“Added ‘Name: Phone Number’”`
- if no, print `"Not a contact and not added."`

In [141]:
phonebook = {
    'Luna': '444 - 4444',
    'Tee': '123 - 4567',
    'Ada Lovelace': '101 - 0101',
    'P1': '1emailAddress@gmail.com',
    'P2': 'emailAddress2@gmail.com',
    'P3': 'P3emailAddress@gmail.com',
    'Friend Two': '222-222'
    }

In [143]:
# Suggested Solution

# takes a name and finds number.
name = input("Whose number do you need?")

if name in list(phonebook.keys()):
    print(name.title, phonebook[name])

# if the name is not in the phone book, prints "Not a contact. Would you like to add that name: Yes or No?"
else:
    response = input("{} is not a contact. Would you like to add that name: Yes or No?".format(name))
    
    # if yes, ask for the number and add to phonebook
    if response == 'Yes':
        new_number = input("What is the number?")
        phonebook[name] = new_number
        print("Added", name.title(), ": ", new_number)
    # if no, print "Not a contact and not added."
    elif response == 'No':
        print("Not a contact and not added.")

Whose number do you need?Friend One
Friend One is not a contact. Would you like to add that name: Yes or No?Yes
What is the number?111-111
Added Friend One :  111-111

--- 
# Nested Dictionaries

### Here is an example of a nested dictionary:

In [154]:
nested_example = {'info': {42: 1, type(''): 2}, 'spam': [1,2,3,'four']}

> If we wanted to access the value associated with the key `42`, you would use the syntax below:

In [155]:
print(nested_example['info'][42]) # fetches 1

1

---

> You can nest a dictionary inside another dictionary.

> For example, if you have several users for a website, each with a unique username, you can use the usernames as the keys in a dictionary.

> You can then store information about each user by using a dictionary as the value associated with their username.


In the following dictionary, we store three pieces of information about each user:
- their first name
- last name
- location

We’ll access this information by: 
- looping through the usernames 
- and the dictionary of information associated with each username

In [156]:
users = {
    'aeinstein': {
    'first': 'albert',
    'last': 'einstein',
    'location': 'princeton',
    },
    'mcurie': {
    'first': 'marie',
    'last': 'curie',
    'location': 'paris',
    },
    }

> **Let's review a program that loops through nested dictionaries:**

In [161]:
for username, user_info in users.items():
    print("\nUsername: " + username)

    full_name = user_info['first'] + " " + user_info['last']
    location = user_info['location']
    print("\tFull name: " + full_name.title())
    print("\tLocation: " + location.title())

Username: aeinstein
	Full name: Albert Einstein
	Location: Princeton

Username: mcurie
	Full name: Marie Curie
	Location: Paris

- In the example above, notice that the structure of each user’s dictionary is identical.
- Although not required by Python, this structure makes nested dictionaries easier to work with.
- If each user’s dictionary had different keys, the code inside the for loop would be more complicated.

> __NOTE:__

> You should not nest lists and dictionaries too deeply.

> If you’re nesting items much deeper than what you see in the preceding examples or you’re working with someone else’s code with significant levels of nesting, most likely a simpler way to solve the problem exists.

---
# GUIDED WALKTHROUGH: Nesting Dictionaries

---
## List OF dictionaries

- It’s common to store a number of dictionaries in a list when each dictionary contains many kinds of information about one object.

- For example, you might create a dictionary for each user on a website and store the individual dictionaries in a list called users.

- All of the dictionaries in the list **should have an identical structure** so you can loop through the list and work with each dictionary object in the same way.

---

> Consider the dictionary called `users` below. 

> **Filter through the array of users, returning only those who are older than 18. Add these users to a new list and print the list.**

> Expected Output:

> `[{'age': 21, 'name': 'Sally'},
  {'age': 77, 'name': 'Moe'},
  {'age': 19, 'name': 'Leslie'}]`

In [145]:
users = [
    {'name': 'John', 'age': 17},
    {'name': 'Sally', 'age': 21},
    {'name': 'Bill', 'age': 10},
    {'name': 'Moe', 'age': 77},
    {'name': 'Jane', 'age': 18},
    {'name': 'Leslie', 'age': 19}
]

In [148]:
# Suggested Solution

users_over18 = []

for user in users:
    if user['age'] > 18:
        users_over18.append(user)
        
users_over18

[{'age': 21, 'name': 'Sally'},
 {'age': 77, 'name': 'Moe'},
 {'age': 19, 'name': 'Leslie'}]

> Consider the dictionary called `users` below. 

> **Filter through the array of users, returning only those who are students. Add these students to a new list and print the list.**

> Expected Output:

> `[{'name': 'Kelly', 'role': 'Student'},
  {'name': 'Alex', 'role': 'Student'},
  {'name': 'Lia', 'role': 'Student'}]`

In [189]:
users = [
    {'name': 'Kelly', 'role': 'Student'},
    {'name': 'Alex', 'role': 'Student'},
    {'name': 'Lia', 'role': 'Student'},
    {'name': 'Luna', 'role': 'Teacher'}
]

In [153]:
# Suggested Solution

students = []

for user in users:
    if user['role'] == 'Student':
        students.append(user)
        
students

[{'name': 'Kelly', 'role': 'Student'},
 {'name': 'Alex', 'role': 'Student'},
 {'name': 'Lia', 'role': 'Student'}]

> Consider the list called `names` below. 

> **Return a list of full names based on the dictionaries in the list.**

> Expected Output:

> `['Grace Hopper', 'Radia Perlman', 'Ada Lovelace']`

In [165]:
names = [
    {'first_name': 'Grace', 'last_name': 'Hopper'},
    {'first_name': 'Radia', 'last_name': 'Perlman'},
    {'first_name': 'Ada', 'last_name': 'Lovelace'}
]

In [166]:
# Suggested Solution

full_names = []

for person in names:
    full_names.append(person['first_name'] + ' ' + person['last_name'])
        
full_names

['Grace Hopper', 'Radia Perlman', 'Ada Lovelace']

---

# Independent Practice: Dictionaries and Data!

15 min.

---


## LYFT Intra-day JSON Exploration

> 1) Download the `lyft_040219_cleaned.json` file from Slack.

> 2) Open up the BQuant Project that you have been working in.

> 3) Click the Up arrow above the list of files (in older versions of BQuant, this will be a + sign).

> 4) This will allow you to choose a file to upload to your project. You can select the `.json` file from there and it will import into your project.

> 5) You may have to click the Refresh icon at the top to refresh the file list and see the `.json` file.

> **6) Make sure that this `.json` file is in the same folder as this jupyter notebook.**

---

#### If you are curious...

*FROM Dan, Instructor of NYC Cohort:*

This data was retrieved using AlphaVantage's intra-day stock API.

MSFT Demo: https://www.alphavantage.co/query?function=TIME_SERIES_INTRADAY&symbol=MSFT&interval=5min&outputsize=full&apikey=demo

Query used for LYFT data (note: you must enter an apikey (https://www.alphavantage.co/support/#api-key) at the very end for it work): https://www.alphavantage.co/query?function=TIME_SERIES_INTRADAY&symbol=LYFT&interval=5min&outputsize=full&apikey=

In [167]:
# Run this cell in order to import a library that we need to read in the `.json` file

import json

In [168]:
# Open the JSON text file for reading ('r')
#   This file contains a bunch of dictionaries.
#   Here, we convert it from JavaScript to a Python object

data = json.load(open('lyft_040219_cleaned.json', 'r'))

In [171]:
data

{'meta_data': {'information': 'Intraday (5min) open, high, low, close prices and volume',
  'interval': '5min',
  'last_refreshed': '2019-04-02 16:00:00',
  'outputsize': 'Full size',
  'symbol': 'LYFT',
  'time_zone': 'US/Eastern'},
 'time_series_5mins': {'2019-03-29 11:50:00': {'close': '86.6671',
   'high': '88.5800',
   'low': '86.5000',
   'open': '87.5000',
   'volume': '2698956'},
  '2019-03-29 11:55:00': {'close': '86.6900',
   'high': '87.2600',
   'low': '85.5100',
   'open': '86.6300',
   'volume': '5938757'},
  '2019-03-29 12:00:00': {'close': '85.4300',
   'high': '87.4500',
   'low': '85.2600',
   'open': '86.6000',
   'volume': '4240446'},
  '2019-03-29 12:05:00': {'close': '85.4000',
   'high': '86.2500',
   'low': '85.1500',
   'open': '85.3800',
   'volume': '2501364'},
  '2019-03-29 12:10:00': {'close': '85.3400',
   'high': '85.6000',
   'low': '85.0000',
   'open': '85.3800',
   'volume': '2756692'},
  '2019-03-29 12:15:00': {'close': '84.1280',
   'high': '85.7400',
   'low': '84.0000',
   'open': '85.3100',
   'volume': '3390947'},
  '2019-03-29 12:20:00': {'close': '83.0000',
   'high': '84.3600',
   'low': '82.5000',
   'open': '84.2000',
   'volume': '2700606'},
  '2019-03-29 12:25:00': {'close': '83.2200',
   'high': '83.6800',
   'low': '82.5700',
   'open': '83.0000',
   'volume': '1667727'},
  '2019-03-29 12:30:00': {'close': '83.2500',
   'high': '83.5000',
   'low': '82.1600',
   'open': '83.2200',
   'volume': '1719621'},
  '2019-03-29 12:35:00': {'close': '83.0500',
   'high': '83.2500',
   'low': '82.2600',
   'open': '83.2500',
   'volume': '1130012'},
  '2019-03-29 12:40:00': {'close': '82.2300',
   'high': '83.0800',
   'low': '82.1100',
   'open': '83.0600',
   'volume': '1025176'},
  '2019-03-29 12:45:00': {'close': '80.6400',
   'high': '82.2200',
   'low': '80.3900',
   'open': '82.2100',
   'volume': '2136367'},
  '2019-03-29 12:50:00': {'close': '80.6600',
   'high': '80.8700',
   'low': '80.1100',
   'open': '80.7100',
   'volume': '1727561'},
  '2019-03-29 12:55:00': {'close': '80.5500',
   'high': '81.3400',
   'low': '80.3000',
   'open': '80.7000',
   'volume': '1109857'},
  '2019-03-29 13:00:00': {'close': '81.0100',
   'high': '81.4100',
   'low': '80.5100',
   'open': '80.5200',
   'volume': '917509'},
  '2019-03-29 13:05:00': {'close': '80.4100',
   'high': '81.1500',
   'low': '80.2100',
   'open': '81.0400',
   'volume': '713509'},
  '2019-03-29 13:10:00': {'close': '80.2000',
   'high': '80.7500',
   'low': '80.0300',
   'open': '80.4260',
   'volume': '949407'},
  '2019-03-29 13:15:00': {'close': '80.2300',
   'high': '80.4500',
   'low': '80.0000',
   'open': '80.1800',
   'volume': '1095341'},
  '2019-03-29 13:20:00': {'close': '80.8100',
   'high': '80.9800',
   'low': '80.1200',
   'open': '80.2350',
   'volume': '767649'},
  '2019-03-29 13:25:00': {'close': '80.8500',
   'high': '81.6600',
   'low': '80.6400',
   'open': '80.8800',
   'volume': '827545'},
  '2019-03-29 13:30:00': {'close': '80.3800',
   'high': '80.8900',
   'low': '80.1700',
   'open': '80.8200',
   'volume': '459844'},
  '2019-03-29 13:35:00': {'close': '80.4900',
   'high': '80.8650',
   'low': '80.2200',
   'open': '80.3600',
   'volume': '429657'},
  '2019-03-29 13:40:00': {'close': '80.8200',
   'high': '81.1900',
   'low': '80.4450',
   'open': '80.4450',
   'volume': '608188'},
  '2019-03-29 13:45:00': {'close': '80.6600',
   'high': '80.8900',
   'low': '80.2300',
   'open': '80.8000',
   'volume': '523211'},
  '2019-03-29 13:50:00': {'close': '80.6500',
   'high': '80.9600',
   'low': '80.4100',
   'open': '80.6600',
   'volume': '310226'},
  '2019-03-29 13:55:00': {'close': '80.8050',
   'high': '80.8900',
   'low': '80.3200',
   'open': '80.6200',
   'volume': '641202'},
  '2019-03-29 14:00:00': {'close': '80.5941',
   'high': '81.0400',
   'low': '80.5300',
   'open': '80.8200',
   'volume': '404190'},
  '2019-03-29 14:05:00': {'close': '80.6000',
   'high': '80.8400',
   'low': '80.4000',
   'open': '80.5800',
   'volume': '600404'},
  '2019-03-29 14:10:00': {'close': '80.7700',
   'high': '81.4300',
   'low': '80.6200',
   'open': '80.6200',
   'volume': '675732'},
  '2019-03-29 14:15:00': {'close': '81.0600',
   'high': '81.1200',
   'low': '80.4000',
   'open': '80.7800',
   'volume': '693202'},
  '2019-03-29 14:20:00': {'close': '81.8450',
   'high': '81.9700',
   'low': '81.0000',
   'open': '81.0600',
   'volume': '1138904'},
  '2019-03-29 14:25:00': {'close': '81.8700',
   'high': '82.3600',
   'low': '81.6000',
   'open': '81.8000',
   'volume': '728105'},
  '2019-03-29 14:30:00': {'close': '81.6400',
   'high': '82.3000',
   'low': '81.3830',
   'open': '81.9300',
   'volume': '544237'},
  '2019-03-29 14:35:00': {'close': '82.4450',
   'high': '82.6100',
   'low': '81.6200',
   'open': '81.6899',
   'volume': '631402'},
  '2019-03-29 14:40:00': {'close': '81.7900',
   'high': '82.6400',
   'low': '81.6400',
   'open': '82.4800',
   'volume': '621656'},
  '2019-03-29 14:45:00': {'close': '81.3800',
   'high': '82.0700',
   'low': '81.1600',
   'open': '81.7850',
   'volume': '526032'},
  '2019-03-29 14:50:00': {'close': '80.8400',
   'high': '81.4000',
   'low': '80.7100',
   'open': '81.3800',
   'volume': '637496'},
  '2019-03-29 14:55:00': {'close': '81.1400',
   'high': '81.1900',
   'low': '80.6100',
   'open': '80.8224',
   'volume': '498786'},
  '2019-03-29 15:00:00': {'close': '80.7500',
   'high': '81.2500',
   'low': '80.6000',
   'open': '81.1700',
   'volume': '452352'},
  '2019-03-29 15:05:00': {'close': '80.6800',
   'high': '80.8900',
   'low': '80.5000',
   'open': '80.7200',
   'volume': '532019'},
  '2019-03-29 15:10:00': {'close': '81.1000',
   'high': '81.2000',
   'low': '80.6900',
   'open': '80.7200',
   'volume': '500538'},
  '2019-03-29 15:15:00': {'close': '81.4015',
   'high': '81.5300',
   'low': '80.9900',
   'open': '81.1200',
   'volume': '659432'},
  '2019-03-29 15:20:00': {'close': '80.8000',
   'high': '81.4000',
   'low': '80.7600',
   'open': '81.3800',
   'volume': '599767'},
  '2019-03-29 15:25:00': {'close': '80.8500',
   'high': '81.0600',
   'low': '80.6600',
   'open': '80.8500',
   'volume': '403691'},
  '2019-03-29 15:30:00': {'close': '80.7000',
   'high': '81.0000',
   'low': '80.6100',
   'open': '80.8500',
   'volume': '437477'},
  '2019-03-29 15:35:00': {'close': '80.3600',
   'high': '80.7300',
   'low': '80.0000',
   'open': '80.7200',
   'volume': '1659655'},
  '2019-03-29 15:40:00': {'close': '80.3800',
   'high': '80.7000',
   'low': '80.1800',
   'open': '80.4000',
   'volume': '651031'},
  '2019-03-29 15:45:00': {'close': '80.1564',
   'high': '80.5700',
   'low': '80.1564',
   'open': '80.3950',
   'volume': '531231'},
  '2019-03-29 15:50:00': {'close': '79.0900',
   'high': '80.3000',
   'low': '78.6200',
   'open': '80.1800',
   'volume': '2080994'},
  '2019-03-29 15:55:00': {'close': '79.0000',
   'high': '79.4000',
   'low': '78.9500',
   'open': '79.1200',
   'volume': '1173781'},
  '2019-03-29 16:00:00': {'close': '78.3600',
   'high': '79.1700',
   'low': '78.0500',
   'open': '79.0099',
   'volume': '2124194'},
  '2019-04-01 09:35:00': {'close': '72.2000',
   'high': '75.0000',
   'low': '72.2000',
   'open': '74.8100',
   'volume': '4349412'},
  '2019-04-01 09:40:00': {'close': '72.1600',
   'high': '72.3500',
   'low': '71.1300',
   'open': '72.1700',
   'volume': '4480765'},
  '2019-04-01 09:45:00': {'close': '69.7000',
   'high': '72.1800',
   'low': '69.3500',
   'open': '72.1125',
   'volume': '2791876'},
  '2019-04-01 09:50:00': {'close': '70.9400',
   'high': '71.0900',
   'low': '69.1600',
   'open': '69.5958',
   'volume': '1712790'},
  '2019-04-01 09:55:00': {'close': '70.8000',
   'high': '71.2900',
   'low': '70.1100',
   'open': '70.8950',
   'volume': '1060019'},
  '2019-04-01 10:00:00': {'close': '70.1945',
   'high': '71.0000',
   'low': '69.7600',
   'open': '70.7589',
   'volume': '1205160'},
  '2019-04-01 10:05:00': {'close': '70.8900',
   'high': '71.1000',
   'low': '69.8500',
   'open': '70.2400',
   'volume': '915827'},
  '2019-04-01 10:10:00': {'close': '70.4300',
   'high': '71.0000',
   'low': '70.1200',
   'open': '71.0000',
   'volume': '464422'},
  '2019-04-01 10:15:00': {'close': '71.5000',
   'high': '71.5100',
   'low': '70.4503',
   'open': '70.4503',
   'volume': '819962'},
  '2019-04-01 10:20:00': {'close': '71.2000',
   'high': '71.7400',
   'low': '71.0000',
   'open': '71.4500',
   'volume': '593471'},
  '2019-04-01 10:25:00': {'close': '71.4800',
   'high': '71.7800',
   'low': '71.1000',
   'open': '71.3000',
   'volume': '643951'},
  '2019-04-01 10:30:00': {'close': '70.6600',
   'high': '71.7500',
   'low': '70.5000',
   'open': '71.4100',
   'volume': '878158'},
  '2019-04-01 10:35:00': {'close': '70.8900',
   'high': '71.0600',
   'low': '70.5000',
   'open': '70.6900',
   'volume': '431076'},
  '2019-04-01 10:40:00': {'close': '70.7000',
   'high': '70.9700',
   'low': '70.5100',
   'open': '70.8450',
   'volume': '337205'},
  '2019-04-01 10:45:00': {'close': '70.4700',
   'high': '70.8200',
   'low': '70.1500',
   'open': '70.6650',
   'volume': '380883'},
  '2019-04-01 10:50:00': {'close': '70.7100',
   'high': '71.0000',
   'low': '70.3000',
   'open': '70.4625',
   'volume': '315142'},
  '2019-04-01 10:55:00': {'close': '70.5100',
   'high': '70.7443',
   'low': '70.2500',
   'open': '70.7443',
   'volume': '450176'},
  '2019-04-01 11:00:00': {'close': '70.3450',
   'high': '70.9008',
   'low': '70.2500',
   'open': '70.5000',
   'volume': '398251'},
  '2019-04-01 11:05:00': {'close': '70.4600',
   'high': '70.6700',
   'low': '70.3300',
   'open': '70.4100',
   'volume': '234667'},
  '2019-04-01 11:10:00': {'close': '70.6200',
   'high': '70.8600',
   'low': '70.4300',
   'open': '70.5000',
   'volume': '290855'},
  '2019-04-01 11:15:00': {'close': '70.5700',
   'high': '70.8900',
   'low': '70.4300',
   'open': '70.6000',
   'volume': '231798'},
  '2019-04-01 11:20:00': {'close': '69.8100',
   'high': '70.7500',
   'low': '69.8000',
   'open': '70.5800',
   'volume': '789605'},
  '2019-04-01 11:25:00': {'close': '69.6000',
   'high': '69.8800',
   'low': '69.2500',
   'open': '69.8100',
   'volume': '740160'},
  '2019-04-01 11:30:00': {'close': '69.7000',
   'high': '69.8800',
   'low': '69.6100',
   'open': '69.6728',
   'volume': '215918'},
  '2019-04-01 11:35:00': {'close': '69.7300',
   'high': '69.7600',
   'low': '69.5401',
   'open': '69.7100',
   'volume': '225274'},
  '2019-04-01 11:40:00': {'close': '69.7450',
   'high': '69.8500',
   'low': '69.4600',
   'open': '69.7395',
   'volume': '363727'},
  '2019-04-01 11:45:00': {'close': '70.5900',
   'high': '70.6700',
   'low': '69.7900',
   'open': '69.9000',
   'volume': '536870'},
  '2019-04-01 11:50:00': {'close': '70.3200',
   'high': '70.5700',
   'low': '70.2100',
   'open': '70.5700',
   'volume': '227305'},
  '2019-04-01 11:55:00': {'close': '70.1400',
   'high': '70.5000',
   'low': '70.1400',
   'open': '70.3300',
   'volume': '181564'},
  '2019-04-01 12:00:00': {'close': '69.3200',
   'high': '70.1000',
   'low': '69.3000',
   'open': '70.1000',
   'volume': '598162'},
  '2019-04-01 12:05:00': {'close': '69.5500',
   'high': '69.6800',
   'low': '69.2500',
   'open': '69.4200',
   'volume': '269626'},
  '2019-04-01 12:10:00': {'close': '69.6195',
   'high': '69.7500',
   'low': '69.5200',
   'open': '69.5500',
   'volume': '151271'},
  '2019-04-01 12:15:00': {'close': '69.6374',
   'high': '69.6800',
   'low': '69.5000',
   'open': '69.6000',
   'volume': '134439'},
  '2019-04-01 12:20:00': {'close': '69.6578',
   'high': '69.6900',
   'low': '69.4400',
   'open': '69.6321',
   'volume': '175231'},
  '2019-04-01 12:25:00': {'close': '69.8350',
   'high': '70.0000',
   'low': '69.6450',
   'open': '69.6450',
   'volume': '229898'},
  '2019-04-01 12:30:00': {'close': '69.6100',
   'high': '69.8500',
   'low': '69.6100',
   'open': '69.8400',
   'volume': '140313'},
  '2019-04-01 12:35:00': {'close': '69.8900',
   'high': '69.9300',
   'low': '69.5400',
   'open': '69.6471',
   'volume': '141787'},
  '2019-04-01 12:40:00': {'close': '70.0150',
   'high': '70.2670',
   'low': '69.8800',
   'open': '69.9000',
   'volume': '281980'},
  '2019-04-01 12:45:00': {'close': '69.6101',
   'high': '70.0350',
   'low': '69.6100',
   'open': '70.0100',
   'volume': '203423'},
  '2019-04-01 12:50:00': {'close': '69.7600',
   'high': '69.8900',
   'low': '69.6598',
   'open': '69.6600',
   'volume': '103518'},
  '2019-04-01 12:55:00': {'close': '70.4300',
   'high': '70.5000',
   'low': '69.7500',
   'open': '69.7800',
   'volume': '284308'},
  '2019-04-01 13:00:00': {'close': '70.3400',
   'high': '70.7800',
   'low': '70.2600',
   'open': '70.4200',
   'volume': '420741'},
  '2019-04-01 13:05:00': {'close': '70.5025',
   'high': '70.7500',
   'low': '70.2500',
   'open': '70.3200',
   'volume': '316332'},
  '2019-04-01 13:10:00': {'close': '69.6608',
   'high': '70.7300',
   'low': '69.5400',
   'open': '70.5500',
   'volume': '415453'},
  '2019-04-01 13:15:00': {'close': '69.7353',
   'high': '69.8900',
   'low': '69.4300',
   'open': '69.7000',
   'volume': '298308'},
  '2019-04-01 13:20:00': {'close': '70.0100',
   'high': '70.1800',
   'low': '69.6100',
   'open': '69.6600',
   'volume': '223450'},
  '2019-04-01 13:25:00': {'close': '70.0800',
   'high': '70.3490',
   'low': '69.9300',
   'open': '70.0000',
   'volume': '168336'},
  '2019-04-01 13:30:00': {'close': '70.1600',
   'high': '70.3000',
   'low': '70.0300',
   'open': '70.0800',
   'volume': '180441'},
  '2019-04-01 13:35:00': {'close': '70.3500',
   'high': '70.5250',
   'low': '70.1400',
   'open': '70.1400',
   'volume': '210054'},
  '2019-04-01 13:40:00': {'close': '70.0700',
   'high': '70.4700',
   'low': '70.0000',
   'open': '70.3350',
   'volume': '157641'},
  '2019-04-01 13:45:00': {'close': '70.3800',
   'high': '70.4300',
   'low': '69.7800',
   'open': '70.1000',
   'volume': '242067'},
  '2019-04-01 13:50:00': {'close': '70.7225',
   'high': '71.1200',
   'low': '70.3650',
   'open': '70.3900',
   'volume': '534351'},
  '2019-04-01 13:55:00': {'close': '70.6900',
   'high': '70.9700',
   'low': '70.4589',
   'open': '70.8000',
   'volume': '249202'},
  '2019-04-01 14:00:00': {'close': '70.5108',
   'high': '70.7200',
   'low': '70.2600',
   'open': '70.6950',
   'volume': '153879'},
  '2019-04-01 14:05:00': {'close': '70.3400',
   'high': '70.6200',
   'low': '70.2500',
   'open': '70.5700',
   'volume': '113239'},
  '2019-04-01 14:10:00': {'close': '70.4800',
   'high': '70.5200',
   'low': '70.3600',
   'open': '70.3600',
   'volume': '70513'},
  '2019-04-01 14:15:00': {'close': '70.1500',
   'high': '70.4600',
   'low': '70.0000',
   'open': '70.4600',
   'volume': '241280'},
  '2019-04-01 14:20:00': {'close': '69.9325',
   'high': '70.2750',
   'low': '69.5800',
   'open': '70.1500',
   'volume': '400423'},
  '2019-04-01 14:25:00': {'close': '70.0800',
   'high': '70.1500',
   'low': '69.9000',
   'open': '69.9300',
   'volume': '95875'},
  '2019-04-01 14:30:00': {'close': '70.0847',
   'high': '70.2400',
   'low': '70.0000',
   'open': '70.1000',
   'volume': '175973'},
  '2019-04-01 14:35:00': {'close': '70.0300',
   'high': '70.2400',
   'low': '70.0000',
   'open': '70.0400',
   'volume': '164693'},
  '2019-04-01 14:40:00': {'close': '69.9161',
   'high': '70.3300',
   'low': '69.9000',
   'open': '70.0600',
   'volume': '183623'},
  '2019-04-01 14:45:00': {'close': '70.1000',
   'high': '70.1600',
   'low': '69.8800',
   'open': '69.9300',
   'volume': '138870'},
  '2019-04-01 14:50:00': {'close': '69.9940',
   'high': '70.1000',
   'low': '69.9500',
   'open': '70.0901',
   'volume': '99982'},
  '2019-04-01 14:55:00': {'close': '70.2000',
   'high': '70.3500',
   'low': '69.9200',
   'open': '69.9600',
   'volume': '193801'},
  '2019-04-01 15:00:00': {'close': '70.0700',
   'high': '70.2000',
   'low': '69.9700',
   'open': '70.1600',
   'volume': '136715'},
  '2019-04-01 15:05:00': {'close': '69.7900',
   'high': '70.1000',
   'low': '69.5200',
   'open': '70.0400',
   'volume': '340726'},
  '2019-04-01 15:10:00': {'close': '69.0050',
   'high': '69.8300',
   'low': '69.0000',
   'open': '69.8000',
   'volume': '712369'},
  '2019-04-01 15:15:00': {'close': '68.7650',
   'high': '69.0100',
   'low': '68.5500',
   'open': '69.0000',
   'volume': '741464'},
  '2019-04-01 15:20:00': {'close': '68.5850',
   'high': '69.0000',
   'low': '68.5645',
   'open': '68.7600',
   'volume': '356081'},
  '2019-04-01 15:25:00': {'close': '68.6800',
   'high': '68.9900',
   'low': '68.5760',
   'open': '68.5760',
   'volume': '246502'},
  '2019-04-01 15:30:00': {'close': '68.9000',
   'high': '68.9000',
   'low': '68.6200',
   'open': '68.6800',
   'volume': '271802'},
  '2019-04-01 15:35:00': {'close': '68.6100',
   'high': '68.9000',
   'low': '68.5701',
   'open': '68.8600',
   'volume': '384996'},
  '2019-04-01 15:40:00': {'close': '68.7800',
   'high': '68.7800',
   'low': '68.4300',
   'open': '68.6000',
   'volume': '657773'},
  '2019-04-01 15:45:00': {'close': '68.5810',
   'high': '68.7889',
   'low': '68.5000',
   'open': '68.7400',
   'volume': '316517'},
  '2019-04-01 15:50:00': {'close': '68.2700',
   'high': '68.6232',
   'low': '68.2500',
   'open': '68.6200',
   'volume': '460992'},
  '2019-04-01 15:55:00': {'close': '67.8575',
   'high': '68.4400',
   'low': '67.7899',
   'open': '68.2600',
   'volume': '953479'},
  '2019-04-01 16:00:00': {'close': '69.0400',
   'high': '69.5000',
   'low': '67.7901',
   'open': '67.8500',
   'volume': '1356883'},
  '2019-04-02 09:35:00': {'close': '68.4500',
   'high': '68.9000',
   'low': '66.1000',
   'open': '66.9000',
   'volume': '2844120'},
  '2019-04-02 09:40:00': {'close': '69.3920',
   'high': '69.7000',
   'low': '67.8100',
   'open': '68.4500',
   'volume': '1282471'},
  '2019-04-02 09:45:00': {'close': '69.5450',
   'high': '69.9700',
   'low': '69.0400',
   'open': '69.4400',
   'volume': '1121338'},
  '2019-04-02 09:50:00': {'close': '70.0700',
   'high': '70.2000',
   'low': '69.4000',
   'open': '69.5629',
   'volume': '911457'},
  '2019-04-02 09:55:00': {'close': '68.3500',
   'high': '70.2000',
   'low': '68.1000',
   'open': '70.0700',
   'volume': '978004'},
  '2019-04-02 10:00:00': {'close': '68.5800',
   'high': '68.7700',
   'low': '67.8500',
   'open': '68.3500',
   'volume': '593086'},
  '2019-04-02 10:05:00': {'close': '68.5595',
   'high': '68.8650',
   'low': '68.1625',
   'open': '68.5800',
   'volume': '315832'},
  '2019-04-02 10:10:00': {'close': '69.2100',
   'high': '69.7000',
   'low': '68.5046',
   'open': '68.5800',
   'volume': '509972'},
  '2019-04-02 10:15:00': {'close': '68.7521',
   'high': '69.4000',
   'low': '68.6600',
   'open': '69.2500',
   'volume': '318711'},
  '2019-04-02 10:20:00': {'close': '69.2900',
   'high': '69.4500',
   'low': '68.7000',
   'open': '68.8876',
   'volume': '191803'},
  '2019-04-02 10:25:00': {'close': '68.8648',
   'high': '69.4700',
   'low': '68.7100',
   'open': '69.3100',
   'volume': '236286'},
  '2019-04-02 10:30:00': {'close': '68.1200',
   'high': '69.0800',
   'low': '67.8600',
   'open': '68.8404',
   'volume': '380425'},
  '2019-04-02 10:35:00': {'close': '68.4347',
   'high': '68.5000',
   'low': '67.9800',
   'open': '68.1200',
   'volume': '221792'},
  '2019-04-02 10:40:00': {'close': '68.2100',
   'high': '68.7000',
   'low': '68.1200',
   'open': '68.4900',
   'volume': '122361'},
  '2019-04-02 10:45:00': {'close': '68.5695',
   'high': '68.6500',
   'low': '68.1700',
   'open': '68.2000',
   'volume': '131137'},
  '2019-04-02 10:50:00': {'close': '68.2200',
   'high': '68.5412',
   'low': '68.0700',
   'open': '68.5412',
   'volume': '96455'},
  '2019-04-02 10:55:00': {'close': '68.1700',
   'high': '68.4500',
   'low': '68.0700',
   'open': '68.2200',
   'volume': '84472'},

---
### About the Data:

- LYFT intra-day price data from AlphaVantage
- Five-minute interval, starting at '2019-03-29 11:50:00'

---
> **Q1) Access the value associated with the key `'meta_data'`.**

In [172]:
# Suggested Solution

data['meta_data']

{'information': 'Intraday (5min) open, high, low, close prices and volume',
 'interval': '5min',
 'last_refreshed': '2019-04-02 16:00:00',
 'outputsize': 'Full size',
 'symbol': 'LYFT',
 'time_zone': 'US/Eastern'}

> **Q2) How many price data points are there?**

In [174]:
# Suggested Solution

num_prices = len(data['time_series_5mins'])
print('Number of price datapoints: ', num_prices)

Number of price datapoints:  207

> **Q3) Print all the data for the most recent price datapoint (i.e., close, high, low, open, volume).**

In [175]:
# Suggested Solution

# First datapoint
data['time_series_5mins']['2019-04-02 16:00:00']

{'close': '69.0900',
 'high': '69.6000',
 'low': '68.9100',
 'open': '68.9700',
 'volume': '887264'}

> **Q4) Create a new list called `closing_prices`. And then:** 

> - Convert each close price to a float.

> - Add each converted close price to that list `closing_prices`.

> - Print the first 50 prices in `closing_prices`.

> - Get the average of the close prices.

In [188]:
# Suggested Solution

closing_prices = []

for day, prices in data['time_series_5mins'].items():
    closing_prices.append(float(prices['close']))
    
print(closing_prices[:50])


average_close_price = sum(closing_prices)/len(closing_prices)

print("Average Close Price:", str(average_close_price))

[69.09, 69.0053, 69.06, 69.0896, 69.05, 69.3, 69.34, 68.87, 68.85, 68.39, 68.255, 68.1957, 68.1084, 68.1, 68.725, 68.7, 68.7754, 69.349, 69.07, 69.138, 69.22, 69.34, 69.06, 68.7296, 68.68, 69.0197, 68.586, 68.62, 68.56, 68.31, 68.2569, 68.25, 68.4578, 68.45, 68.5439, 68.78, 68.76, 68.85, 68.75, 67.987, 68.1001, 67.95, 67.4783, 67.1301, 67.32, 66.93, 67.3032, 66.71, 66.9398, 66.975]
Average Close Price: 72.23465845410627

---
# Functions

---

### Introduction to user-defined functions

In this lesson, we'll learn to write functions, which are named blocks of code that are _designed to do one specific job_.

---

**Here’s a simple function named `greet_user()` that prints a greeting:**

In [266]:
def greet_user():
    """Display a simple greeting."""
    print("Hello!")

__Why didn't anything print?__

** **
_Notes on syntax:_

- The keyword `def` informs Python that you are defining a function.
- This is the function definition, which tells Python: 
    - the name of the function 
    - and, if applicaable, what kind of information the function needs to do its job.
- Any indented lines that follow `def greet_user():` make up the body of the function.


__Now let's use that function!__

___

### Calling a function:

In [267]:
greet_user()

Hello!

#### When you want to use this function, you call it.

A function call tells Python to execute the code in the function.

- To call a function, you write the name of the function, followed by any necessary information in parentheses.

Because no information is needed in the example above, calling our function is as simple as entering `greet_user()`.

---

---

What about this line of code:
> `"""Display a simple greeting."""`

This is a comment called a __docstring__, which describes what the function does.
- Docstrings are enclosed in triple quotes, which Python looks for when it generates documentation for the functions in your programs.

__Use the `help()` function to generate the docstrings in the function.__

In [279]:
help(greet_user)


# You can try the `help()` function with any built-in function, like `range()`.
# help(range)

Help on function greet_user in module __main__:

greet_user()
    Display a simple greeting.

***

## Passing information to a function

#### What's going on in the function below?
- What is the main difference from the previous version of this function?

** **

In [280]:
def greet_user(username):
    """Display a simple greeting."""
    print("Hello, " + username.title() + "!")


greet_user('jesse')

Hello, Jesse!

___
### Arguments and Parameters

1) We defined `greet_user()` to __require__ a value for the variable `username`.

2) Once we called the function and gave it the information it requires (a person’s name), it printed the greeting.

- The variable `username` in the definition of `greet_user()` is an example of a __parameter__, a piece of information the function needs to do its job.

- The value 'jesse' in `greet_user('jesse')` is an example of an __argument__, a piece of information that is passed from a function call to a function.

When we call the function, we place the value we want the function to work with in parentheses.

- In this case the argument 'jesse' was passed to the function `greet_user()`, and the value was stored in the parameter `username`.

> __NOTE:__

> People sometimes speak of arguments and parameters interchangeably. Don’t be surprised if you see the variables in a function definition referred to as arguments or the variables in a function call referred to as parameters.

___
### Avoiding Argument Errors

__Unmatched arguments__ occur when you provide _fewer or more arguments_ than a function needs to do its work. 

- For example, here’s what happens if we try to call `greet_user()` with no arguments:

In [281]:
greet_user()

TypeError: greet_user() missing 1 required positional argument: 'username'

- And here’s what happens if we try to call `greet_user()` with 2 arguments:

In [282]:
greet_user('person1','person2')

TypeError: greet_user() takes 1 positional argument but 2 were given

__Answer: Python recognizes that some information is missing from the function call.__

Python is helpful in that it reads the function’s code for us and tells us the names of the arguments we need to provide in the error message.
- This is another motivation for giving your variables and functions descriptive names.
- If you do, Python’s error messages will be more useful to you and anyone else who might use your code.

If you provide too many arguments, you should get a similar traceback that can help you correctly match your function call to the function definition.

---

# Independent Practice: Basic Functions

---

> **Q1) Write a function called `high_low()` that prints "High!" if a variable `my_number` is greater than 10, and "Low!" if it isn't. Then call the function to make sure it works.**

In [283]:
# Suggested Solution

def high_low():
  if my_number > 10:
    print("High!")
  else:
    print("Low!")

my_number = 17
high_low()

my_number = 8
high_low()

High!
Low!

> **Q2) Thanks a Latte**

> Imagine that you are tasked with creating a program to calculate the total amount, including sales tax, for each item at a coffee shop.
> - Wrtie a function called `calculate_total()`. 
> - This function should be able to take 1 parameter for the price of an item.
> - This function should print the calculated total of any price passed to the function, which is: price + (price * sales_tax_rate)
> - Use 0.10 for the sales_tax_rate.

> Expected Output:

> `The total is $ 6.05`

> `The total is $ 5.225`

In [284]:
price_latte = 5.5
price_americano = 4.75

In [285]:
# Suggested Solution

def calculate_total(price):
    sales_tax_rate = .10
    total_amount = price + (price * sales_tax_rate)
    print("The total is $", total_amount)
#this would round it:
#print("The total is $", round(total_amount,2))

In [286]:
calculate_total(price_latte) # This will print 6.05.
calculate_total(price_americano) # This will print 5.225.

The total is $ 6.05
The total is $ 5.225

# Functions: Multiple Parameters

- Because a function definition can have multiple parameters, a function call may need multiple arguments.

> You can pass arguments to your functions in a number of ways.

> You can use:
> - __positional arguments__, which need to be in the same order the parameters were written
> - __keyword arguments__, where each argument consists of a variable name and a value
> - __lists and dictionaries__ of values
  
** **

Let's Review:

    - Positional Arguments
    - Keyword Arguments
    
---

### Positional Arguments

When you call a function, Python must match each argument in the function call with a parameter in the function definition.

> The simplest way to do this is based on the __order of the arguments provided__.

> Values matched up this way are called __positional arguments__.

In [287]:
def describe_pet(animal_type, pet_name):
    """Display information about a pet."""
    print("\nI have a " + animal_type + ".")
    print("My " + animal_type + "'s name is " + pet_name.title() + ".")

__Notes:__

- You can use _as many_ positional arguments as you need in your functions.
- Python works through the arguments you provide when calling the function and matches each one with the corresponding parameter in the function’s definition.

In [288]:
describe_pet('hamster', 'harry')
describe_pet('dog', 'willie')
describe_pet('cat', 'felix')

I have a hamster.
My hamster's name is Harry.

I have a dog.
My dog's name is Willie.

I have a cat.
My cat's name is Felix.

** **

__What's happening in the function call below?__

In [289]:
describe_pet('harry', 'hamster')

I have a harry.
My harry's name is Hamster.

__Answer: Order matters in positional arguments.__

You can get unexpected results if you mix up the order of the arguments in a function call when using positional arguments.

- In this function call, we list the name first and the type of animal second.
- Because the argument 'harry' is listed first this time, that value is stored in the parameter `animal_type`.
- Likewise, 'hamster' is stored in `pet_name`.

** **
### Keyword Arguments
 
A keyword argument is a __name-value pair__ that you pass to a function.

_Advantages of keyword arguments:_
- You directly associate the name and the value within the argument, so when you pass the argument to the function, there’s no confusion (you won’t end up with a harry named Hamster).

- Keyword arguments free you from having to worry about correctly ordering your arguments in the function call, and they clarify the role of each value in the function call.

In [290]:
def describe_pet(animal_type, pet_name):
    """Display information about a pet."""
    print("\nI have a " + animal_type + ".")
    print("My " + animal_type + "'s name is " + pet_name.title() + ".")

> __NOTE:__ The function `describe_pet()` hasn’t changed.

In [291]:
describe_pet(pet_name='harry', animal_type='hamster')

I have a hamster.
My hamster's name is Harry.

- But now when we call the function, we __explicitly__ tell Python which parameter each argument should be matched with.
- When Python reads the function call, it knows to store the argument 'hamster' in the parameter `animal_type` and the argument 'harry' in `pet_name`.
    - The output correctly shows that we have a hamster named Harry.

#### The order of keyword arguments doesn’t matter because Python knows where each value should go.

The following two function calls are equivalent:

In [292]:
describe_pet(animal_type='hamster', pet_name='harry')

I have a hamster.
My hamster's name is Harry.

In [293]:
describe_pet(pet_name='harry', animal_type='hamster')

I have a hamster.
My hamster's name is Harry.

> __NOTE:__

> - When you use keyword arguments, be sure to use the _exact_ names of the parameters in the function’s definition.

---

# Independent Practice: Multiple Parameters

---

> **Q1) Let's revisit the previous independent practice exercise, 'Thanks a Latte'.**

> What about changing sales tax? We can pass as many values into the function as we want, and we can have as many parameters as we want. 

> So go ahead and rewrite your previous `calculate_total()` function to allow for a second parameter — `taxes`.

In [294]:
# Suggested Solution

def calculate_total(price, taxes):
    total_amount = price + (price * taxes)
    print("The total is $", total_amount)

calculate_total(price_latte, .10) # "price" is 5.5; "taxes" is .10. This will print 6.05.
calculate_total(price_americano, .12) # "price" is 4.75; "taxes" is .12. This will print 5.32.

The total is $ 6.05
The total is $ 5.32

> **Q2) Functions With Logic**

> Let's consider a shipping example. Depending on the order amount, a customer might get free shipping, so the print statement is different depending on the order amount.
> Use the starter code below, which works for one product. Can you build a function from it that works for any product and `order_amount`?

> Free shipping for any orders greater than $30. 

> Otherwise there is a $5.00 shipping charge.

In [295]:
product = "Hanging Planter"
order_amount = 35

# Starter Code

print("Thank you for ordering the Hanging Planter.")
if order_amount >= 30:
    print("It's your lucky day! There is no shipping charge for orders over $30.00.")
else:
    print("There will be a $5.00 shipping charge for this order.")

Thank you for ordering the Hanging Planter.
It's your lucky day! There is no shipping charge for orders over $30.00.

In [296]:
# Suggested Solution

def print_order(product, order_amount):
  print("Thank you for ordering the", product, ".")
  if order_amount >= 30:
      print("It's your lucky day! There is no shipping charge for orders over $30.00.")
  else:
      print("There will be a $5.00 shipping charge for this order.")

print_order("Hanging Planter", 35)
print_order("Shell Mirror", 15)
print_order("Modern Shag Rug", 75)

Thank you for ordering the Hanging Planter .
It's your lucky day! There is no shipping charge for orders over $30.00.
Thank you for ordering the Shell Mirror .
There will be a $5.00 shipping charge for this order.
Thank you for ordering the Modern Shag Rug .
It's your lucky day! There is no shipping charge for orders over $30.00.

---
# GUIDED WALKTHROUGH: Return Statement

---

A function doesn’t always have to display its output directly.

- In fact, some would argue that printing in a function should really only be used for debugging or learning.

> Instead, it can process some data and then __return__ a value or set of values.

> The value the function returns is called a ___return value___.


The `return` statement takes a value from inside a function and sends it back to the line that called the function.

Return values allow you to move much of your program’s grunt work into functions, which can simplify the body of your program.
  
** **

Topics to review:

- Returning a Simple Value

** **
### Returning a Simple Value

> Let’s look at a function that takes a first and last name, and creates a neatly formatted full name:

In [271]:
def get_formatted_name(first_name, last_name):
    """Return a full name, neatly formatted."""
    full_name = first_name + ' ' + last_name

In [273]:
musician = get_formatted_name('regina', 'spektor')
print(musician)

None

> Now let's at a function that takes a first and last name, and ***returns*** a neatly formatted full name:

In [274]:
def get_formatted_name(first_name, last_name):
    """Return a full name, neatly formatted."""
    full_name = first_name + ' ' + last_name
    return full_name.title()

In [275]:
musician = get_formatted_name('regina', 'spektor')
print(musician)

Regina Spektor

> What is the `return` statement doing?

---
### Let's break down the execution of the function step-by-step:


1) The definition of `get_formatted_name()` takes as parameters a first and last name.
___

2) The function combines these two names, adds a space between them, and stores the result in `full_name`.
___

3) The value of `full_name` is converted to title case, and then returned to the calling line.

> __NOTE:__

> When you call a function that returns a value, you need to provide a variable where the return value can be stored.

> In this case, the returned value is stored in the variable `musician`. 

___
4) The output shows a neatly formatted name made up of the parts of a person’s name.

___


_Now, this might seem like a lot of work to get a neatly formatted name when we could have just written:_

In [ ]:
print("Regina Spektor")

__But when you consider working with a large program that needs to store many first and last names separately, functions like `get_formatted_name()` become very useful.__ 

You store first and last names separately and then call this function whenever you want to display a full name.

> Define a function called `add_two()` that takes a parameter `number`.

> It adds 2 to `number`, saving that in a new variable called `total`.

> In the function definition, include code that **prints** the total and **then, returns** total.

In [345]:
# Suggested Solution

def add_two(number):
 total = number + 2
 print(total)
 return total

final_var = add_two(3)
print(final_var)

5
5

> The return statement **exits a function**, not executing any further code in it. 

> **What do you think the following will print?**

In [298]:
def mystery():
    return 6
    return 5

my_number = mystery()
print(my_number)

# Answer: 6

6

> **And how about now? What do you think will print out?**

In [299]:
def add_bonus_points(score):
    if score > 50:
        return score + 10
    score += 20
    return score

total_points = add_bonus_points(55)
print(total_points)

# Answer: 65

65

> The code that's below the return statement will never be executed and will be ignored completely.

> The function stopped executing at the first return statement it hit.

> Because the score in this case is greater than 50, we will hit the return statement return score + 10, and the function stops running.

---
## Exiting a Function

We can also use return by itself as a way to exit the function and prevent any code that follows from running.

In [303]:
def rock_and_roll(muted):
    song = "It's only Rock 'N' Roll"
    artist = "Rolling Stones"

    if (muted == True):
        return
        # Here, we use return as a way to exit a function
        # We don't actually return any value.
    print("Now playing: ", song, " by ", artist)

rock_and_roll(True)

> Here, we use return as a way to exit the function instead of returning any value. 

> When we call the function and pass in `True` as an argument for muted, this statement will **never** run: 

> `print "Now playing: ", song, " by ", artist."`

> **Try changing true to false.**

> **Quick Knowledge Check**

> Looking at the code below, where will the function stop if x is 10?

In [304]:
def categorize(x):
    if (x < 8):
        return 8
    x += 3
    if (x < 15):
        return x
    return 100

> If x is 10, then x is greater than 8.

> The first if condition is False.

> Adding 3 to x with x += 3, x will be 12, which is less than 15.

> This means that the second if statement condition is True, and Python will run the line return x and then stop running.

In [305]:
categorize(10)

13

> **Another Knowledge Check**

> Take this simple adder function:

In [306]:
def adder(number1, number2):
    return number1 + number2

> Which of the following statements will result in an error?

> A. adder(10, 100.) 

> B. adder(10, '10') 

> C. adder(100) 

> D. adder('abc', 'def') 

> E. adder(10, 20, 30)

In [317]:
print(adder(10, 100.))

110.0

In [318]:
print(adder(10, '10'))

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [319]:
print(adder(100))

TypeError: adder() missing 1 required positional argument: 'number2'

In [320]:
print(adder('abc', 'def'))

abcdef

In [321]:
print(adder(10, 20, 30))

TypeError: adder() takes 2 positional arguments but 3 were given

> Answers:

> - adder(10, '10') is incorrect because it tries to combine a string and an integer.
> - adder(100) will result in an error because it only provides one value.
> - adder(10, 20, 30) provides too many arguments.

---

# Independent Practice: Return Statements

---

> **Q1) Sum all positives**

> Create a function that accepts an array of numbers.

> This function should return a sum of all positive numbers.

In [324]:
test_list_1 = [1, -2, -3, 1]
test_list_2 = [-1]

In [325]:
# Suggested Solution

def sum_positive(number_array):
    pos_nums = []
    for i in number_array:
        if i > 0:
            pos_nums.append(i)
    
    return sum(pos_nums)

In [326]:
sum_positive(test_list_1) # should return 2

2

In [327]:
sum_positive(test_list_2) # Should return 0

0

> **Q2) Let's generate some fake data for our next exercise.** 

> We are generating monthly sales for each department in a store, for the year 2044.

In [328]:
import random

dept_store_sales = [
    {'dept_name':'Food', '2044_monthly_sales': []},
    {'dept_name':'Kids', '2044_monthly_sales': []},
    {'dept_name':'Women', '2044_monthly_sales': []},
    {'dept_name':'Men', '2044_monthly_sales': []}
]

for dept in dept_store_sales:
    dept['2044_monthly_sales'] = random.sample(range(10000, 50000), 12)

In [330]:
dept_store_sales[0]

{'2044_monthly_sales': [39938,
  11067,
  30343,
  44248,
  44722,
  24371,
  18439,
  11795,
  43820,
  36727,
  31287,
  19842],
 'dept_name': 'Food'}

> **Q2A) Loop through all the monthly sales for all departments, adding each amount to the `total_2044_sales` variable defined below.**

In [331]:
total_2044_sales = 0

In [332]:
# Suggested Solution

for dept in dept_store_sales:
    for month_sale in dept['2044_monthly_sales']:
        total_2044_sales += month_sale

In [333]:
total_2044_sales

1445659

> **Q2B) Write a function that calculates and returns the percent of total sales (for 2044) for each department.**

> Then use your function on the simulated data in `dept_store_sales`.

In [336]:
# Suggested Solution

def get_percent(dept_total, total_sales):
    percent_of_total = (sum(dept_total)/total_sales)*100
    return percent_of_total

for dept in dept_store_sales:
    percent = get_percent(dept['2044_monthly_sales'], total_2044_sales)
    print(dept['dept_name'], "Department -- Percent of Total 2044 Sales:", format(percent, '.2f') + '%')

Food Department -- Percent of Total 2044 Sales: 24.67%
Kids Department -- Percent of Total 2044 Sales: 25.24%
Women Department -- Percent of Total 2044 Sales: 25.18%
Men Department -- Percent of Total 2044 Sales: 24.91%

> **Q3) Building a Copy**

> Write a function called `copy_list()` that takes in a list, `original_list`, as a parameter. 

> Your function should create a new list, `my_new_list`, with the contents of the original list + 2 each. 

> Your function should return `my_new_list`.

In [340]:
# Suggested Solution

def copy_list(list_arg):
    my_new_list = []
    for item in range(len(list_arg)):
        my_new_list.append(list_arg[item] + 2)
    return my_new_list

In [341]:
my_list = [1, 2, 3]

my_final_list = copy_list(my_list)

print(my_new_list)
# Will print [3, 4, 5]

[3, 4, 5]